{% extends "users/base.html" %}
{% block content %}
    <nav class="navbar">
    <h1>Hamepage</h1>
        <ul>
            <li><a href="{% url 'homepage'%}">Home</a></li>
            <li><a href="{% url 'about_us'%}">About Us</a></li>
            <li><a href="{% url 'send_money' %}">Send Money</a></li>
            <li><a href="{% url 'track_transfer'%}">Track Transfer</a></li>
            <li><a href="{% url 'testimonial'%}">Testimonial</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
    </nav>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Join Today</legend>
                {{ form.as_p }}

            </fieldset>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <div>
            <small>Already Have An Account? <a href="{% url 'login' %}">Sign In</small>
        </div>
    </div>

{% endblock content %}
