<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamepage</title>
</head>
<body>
    <a href="{% url 'logout'%}">Logout</a>
    
    <nav class="navbar">
    <h1>Hamepage</h1>
        <ul>
            <li><a href="{% url 'homepage'%}">Home</a></li>
            <li><a href="{% url 'about_us'%}">About Us</a></li>
            <li><a href="{% url 'send_money' %}">Send Money</a></li>
            <li><a href="{% url 'track_transfer'%}">Track Transfer</a></li>
            <li><a href="{% url 'testimonial'%}">Testimonial</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
    </nav>
    
    
    
</body>
</html>