<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamepage</title>     
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="contact-info">Contact: 1234567890</div>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="{% url 'logout'%}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    
    
    
</body>
</html>