<!DOCTYPE html>
<html>
<head>
    <title>Testimonials</title>
</head>
<body>
    
    <h1>Testimonials</h1>
    <ul>
        {% for testimonial in testimonials %}
        <li>{{ testimonial.author }} - {{ testimonial.content }}</li>

        {% comment %} UPDATE BUTTON {% endcomment %}
        <button type="submit"><a href="{% url 'testimonial_update' testimonial.pk %}">Update</a></button>

        <!-- DELETE BUTTON (FOR SUPERUSER) -->
        {% if user.is_superuser %}
            <form method="post" action="{% url 'testimonial_delete' testimonial.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'testimonial_create' %}">Add Testimonial</a>
</body>
</html>
